ANTHROPIC_API_KEY=your_anthropic_api_key_here
PIPEDRIVE_API_TOKEN=your_pipedrive_api_token_here
JOBBER_CLIENT_ID=your_jobber_client_id_here
JOBBER_CLIENT_SECRET=your_jobber_client_secret_here
QUICKBOOKS_CLIENT_ID=your_quickbooks_client_id_here
QUICKBOOKS_CLIENT_SECRET=your_quickbooks_client_secret_here
QUICKBOOKS_SANDBOX_COMPANY_ID=your_quickbooks_sandbox_company_id_here
ASANA_PAT=your_asana_personal_access_token_here
HUBSPOT_TOKEN=your_hubspot_token_here
MAILCHIMP_API_KEY=your_mailchimp_api_key_here
MAILCHIMP_DATA_CENTER=your_mailchimp_data_center_here
SLACK_BOT_TOKEN=your_slack_bot_token_here
